#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  gap: 200px;
  padding-top: 50px;
}

h1 {
  margin-bottom: 5px;
}

h2 {
  margin-top: 0px;
}